<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static',filename='homePage.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="column">
            <div class="d-flex justify-content-center">
                <div class="card">
                    <div class="col-md-12">
                        <form action="{{ url_for('loginStatus') }}" method="post">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="name" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="form-group" id="BandT">
                                <small>Please don't leave any fields empty</small>
                                <button class="btn btn-primary" id="button1">Log In</button>
                                <a href="{{ url_for('signUp') }}" class="btn btn-primary" role="button"
                                    aria-pressed="true" id="button1">Sign Up</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>