html, body, .container-fluid, .row {
    height: 95.5%;
}

.col-md-3 {
    background-image: url('pattern2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-left: 30px;
}

.col-md-9 {
    background-image: url('pattern.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#foot {
    background-color: #151e3d;
    height: 63px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

h4 {
    color: white;
    margin-top: 30px;
    font-family: fantasy;
    margin-bottom: 30px;
}

.btn-primary, .btn-primary:visited {
    background-color: #DC143C !important;
    border-color: #DC143C !important;
}

.btn-primary:hover {
    background-color: #fa8072 !important;
    border-color: #fa8072 !important;
}

#channel_button {
    width: 95%;
    margin-bottom: 30px;
}

#column_list:hover {
    background-color: #151e3d;
}

.col-md-9 {
    display: flex;
    align-items: flex-end;
}

#column_list > a {
    text-decoration: solid;
    color: white; 
    font-family: monospace;
}

.row {
    display: flex;
    height: 100%;
}

#message_input {
    width: 95%;
    margin-bottom: 10px;
}

#send_button {
    width: 5%;
    margin-bottom: 10px;
}